{% extends "default.html" %}

{% block title %}insert data{% endblock %}

{% block content %}
    <h1>TicketGenerator</h1>
    <h2>Insert your data in the form below, then generate your ticket!</h2>

    <form method="post" action="/ticket">
        {{form.csrf_token}}
        <div>{{form.name.label}}:{{form.name}}</div>
        {% if form.name.errors %}
            <ul class="error">
                {% for e in form.name.errors %}
                <li>{{e}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{form.surname.label}}:{{form.surname}}</div>
        {% if form.surname.errors %}
            <ul class="error">
                {% for e in form.surname.errors %}
                <li>{{e}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{form.email.label}}:{{form.email}}</div>
        {% if form.email.errors %}
            <ul class="error">
                {% for e in form.email.errors %}
                <li>{{e}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div>{{form.submit}}</div>
    </form>
{% endblock %}